* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: pink;
}
header {
  display: flex;
  justify-content: center;
}
section{
 height: 80dvh;
}
